.card-item {
  border: 5px solid #FFE0B5;
  border-radius: 5px;
  display: inline-block;
  margin-right: 25px;
  margin-top: 0px;

}

.card-container{
  padding-top: 10px;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
}



