.prompt-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 100px;
  margin-top: 10px;
  margin-bottom: 145px;
  padding: 25px 100px 0px 50px;
}

.prompt-text {
  font-size: 3em;
  border: solid black 2px;
  background-color: whitesmoke;
  text-align: center;
  padding: 25px;
  margin-left: 10px;
}